@charset "utf-8";
.container{
	text-align:center;
	width:100%;
	min-height:100%;
	background-color:#3CF;
}
.field
{
	max-width:400px;
	width:auto;
	min-height:400px;
	height:auto;
	border:solid;
	border-width:2px;
	border-color:#3F0;
	margin:0 auto;
	
}

