@charset "utf-8";
.container{
	text-align:center;
	width:100%;
	min-height:100%;
	background-color:#3CF;
}
.field
{
	min-width:400px;
	width:auto;
	min-height:400px;
	height:auto;
	border:medium;
	border-color:#3F0;
	
}

