@charset "UTF-8";

div#ball {
    border: 3px solid blue;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
div#field{
    border: 3px solid blue;
    margin-top: 10%;
    margin-left: 10%;
}
